.app {
    background-color: var(--White);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

@media screen and (max-width: 768px) {
    .app {
        flex-direction: column;
        gap: 1rem;
    }
}