.app {
    display: flex;
}

.form_section,
.form,
.form_Mortgage_amount,
.form_term_rate_item,
.form_mortgage_type {
    display: flex;
    flex-direction: column;
}

.form_section {
    background-color: #ffffff;
    border-radius: 16px;
    gap: 1.5rem;
    padding: 2rem;
}

.form_title_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form {
    gap: 2rem;
}

.form_Mortgage_amount,
.form_term_rate,
.form_term_rate_item,
.form_mortgage_type {
    gap: 1rem;
}

.form_input,
.form_radio_input {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.5rem;
}

.form_term_rate {
    display: flex;
}

.form_mortgage_type {
    justify-content: center;
}

.form_button {
    background-color: #d6da2d;
    border: none;
    border-radius: 16px;
    padding: 1rem;
    width: 70%;
}

.result_section {
    border-radius: 8px;
    background-color: #10303f;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 400px;
    padding: 2rem;
    color: white;
}

.result_title {
    color: white;
}

.result_paragraph {
    line-height: 1.5rem;
    font-size: 14px;
    margin-bottom: 1rem;
}

.result_container {
    background-color: #0c2331;
    border-top: #d6da2d 4px solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 1.5rem;
}

.result_secondary_heading {
    font-size: 16px;
}

.result_repayment {
    color: #d6da2d;
}


@media screen and (max-width: 768px) {
    .app {
        flex-direction: column;
        gap: 1rem;
    }

    .form_section {
        min-width: 400px;
    }

    .form_term_rate {
        flex-direction: column;
    }

}