header * {
    background-color: #f2f2f2;
}

header {
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

header ul {
    display: flex;
    gap: 1rem;
}

header li {
    list-style-type: none;
}

header a {
    text-decoration: none;
}

header a:hover {
    cursor: pointer;
}

.logo {
    width: 120px;
}

.close {
    width: 20px;
}

@media screen and (max-width: 480px) {
    header ul {
        display: none;
    }
}