.form_section,
.form,
.form_Mortgage_amount,
.form_term_rate_item,
.form_mortgage_type {
    display: flex;
    flex-direction: column;
}

.form_section {
    background-color: #ffffff;
    border-radius: 16px;
    gap: 1.5rem;
    padding: 2rem;
}

.form_title_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form {
    gap: 2rem;
}

.form_Mortgage_amount,
.form_term_rate,
.form_term_rate_item,
.form_mortgage_type {
    gap: 1rem;
}

.form_input,
.form_radio_input {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.5rem;
}

.form_term_rate {
    display: flex;
}

.form_mortgage_type {
    justify-content: center;
}

.form_button {
    background-color: #d6da2d;
    border: none;
    border-radius: 16px;
    padding: 1rem;
    width: 70%;
}

@media screen and (max-width: 768px) {

    .form_section {
        min-width: 400px;
    }

    .form_term_rate {
        flex-direction: column;
    }

}