.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: green;
    box-shadow: #080808 0px 2px 8px;
    border-radius: 50%;
    padding: 1.5rem;
    color: white;
}

.zero {
    background-color: #0a8039;
}

.pair {
    background-color: #f40d08;
}

.shots {
    background-color: #080808;
}

@media screen and (max-width: 768px) {
    .counter {
        width: 50px;
        height: 50px;
        padding: 1rem;
    }

    h1 {
        font-size: 18px;
    }
}