.default_section {
    justify-content: center;
    align-items: center;
}


.result_section,
.default_section {
    border-radius: 0 16px 16px 60px;
    background-color: var(--Slate900);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 50%;
    padding: 2rem;
    color: var(--White);
}

.result_title {
    color: var(--Slate100);
}


.result_paragraph {
    color: var(--Slate300);
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.result_container {
    background-color: var(--Slate800);
    border-top: var(--lime) 4px solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 1.5rem;
}

.result_secondary_heading {
    font-size: 16px;
}

.result_repayment {
    color: var(--lime);
}